body {
    background-color: #EAF6F6;
    font-weight: 69;
 
}  
hr {
    border-style:none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 9px;
    width:6%;

}
img {
    height: 150px;
}
#sax {
    border-radius: 69px;
}
 h1 {
   color: #66EFBF;
   font-weight: bolder;

 }

 h3 {
    color: #66EFBF ;
    font-weight: bolder;
    text-decoration: rgba(85, 83, 72, 0.37) wavy underline ;
    text-decoration-thickness: 1px;

 }